*{
   
    margin-top: 2px;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 8px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: 4px solid rgba(0, 0, 0,0.7);

}
h2{
    display: block;
    font-size:1.5em ;
   
    margin-block-start: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
img{
    overflow-clip-margin: content-box;
    overflow: clip;
    
}
.data{
    width: 30%;
    color: rgba(0,0,0,0.6);
    display: block;
    margin-top: 10px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
   } 
   
  
